@model BigTravel_Company.Models.Route
@Styles.Render("~/Content/edit_inf.css")

@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/Scripts/validated.js")
@Scripts.Render("~/Scripts/Podkl-file.js")


<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<div class="container">
    @using (Html.BeginForm("Create", "Routes", FormMethod.Post, new { id = "Route", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
    <form class="contact_form" action="#" method="post" name="contact_form">
        <h2 class="reis_name_inf">Создать маршрут</h2>
        @Html.ValidationSummary(true, "", new { @class = "error_vouchers_name_description" })

        <ul class="contact_form-list">
            <li>
                @Html.LabelFor(model => model.Country.Name_country, "Название страны", htmlAttributes: new { @class = "num_reis" })
                <div class="cont_inf">
                    @Html.DropDownList("id_country", null, htmlAttributes: new { @class = "Punkt_otp hotel_content" })
                    @Html.ValidationMessageFor(model => model.Country.Name_country, "", new { @class = " num_reis" })
                </div>
            </li>
            <li>
                @Html.LabelFor(model => model.Place, "Название места", htmlAttributes: new { @class = "num_reis" })
                <div class="cont_inf">
                    @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "Punkt_otp hotel_content" } })
                    @Html.ValidationMessageFor(model => model.Place, "", new { @class = " num_reis" })
                </div>
            </li>
            <li>
                @Html.LabelFor(model => model.Place_image, "Название фото", htmlAttributes: new { @class = "num_reis" })
                <div class="fileform cont_inf" id="divfile">
                    <div id="fileformlabel"></div>
                    <div class="selectbutton">Обзор</div>
                    @Html.EditorFor(model => model.Place_image, new { htmlAttributes = new { type = "file", onchange = "getName(this.value);", accept = ".jpg, .jpeg, .png" } })
                </div>
            </li>
            <li>
                @Html.LabelFor(model => model.Place_description, "Описание места", htmlAttributes: new { @class = "num_reis" })
                <div class="cont_inf">
                    @Html.TextAreaFor(model => model.Place_description, 7, 75, new { @class = "Punkt_otp hotel_content" })
                    @Html.ValidationMessageFor(model => model.Place_description, "", new { @class = "num_reis" })
                </div>
            </li>

            <li class="button_inf">
                <div class="but_reis_content">
                    <input type="submit" value="Создать" class="save_edit_reis" id="rout" />
                    <div class="Save_reis">
                        <a class="back_reis button_back" href="/Routes/Index"><span>&#8594;</span>Назад<span>&#8592;</span></a>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>


