<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>@ViewBag.Title - приложение ASP.NET</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    @Scripts.Render("~/Scripts/jquery-3.4.1.js")
    @Scripts.Render("~/Scripts/modol_windows.js")
    @Styles.Render("~/Content/Site.css")
</head>
<body class="classss">

    <header class="header">
        @Html.ActionLink("BigTravel", "Index", "Home", new { area = "" }, new { @class = "header-logo" })

        <div class="line"></div>
        <nav class="navigation">
            @if (Session["Menu"] == null)
            {
                Session["Menu"] = Html.Partial("~/Views/Shared/_Menu.cshtml");
            }
            @Session["Menu"]
        </nav>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="button-group">
                <div class="button sing-up">@Html.ActionLink("Регистрация", "Create", "Customers", new { area = "" }, new { @class = "sign" })</div>
                <div class="button login modal__login-trigger">
                    Войти
                </div>
            </div>
             Html.RenderPartial("~/Views/Home/Sign.cshtml"); 
            @*@Html.Action("Sign", "Home", new { @class = "signIn", area = "" })*@
            <div class="overflow"></div>
        }

    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="footer">
                <div class="footer__row">
                    <div class="footer__col">
                        <div class="footer__logo">
                            <a href="" class="logo_name">
                                <svg width="132" height="27" viewBox="0 0 132 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.1173 11.172C15.1613 11.514 15.9893 12.09 16.6013 12.9C17.2133 13.692 17.5193 14.682 17.5193 15.87C17.5193 17.508 16.8893 18.777 15.6293 19.677C14.3693 20.559 12.5333 21 10.1213 21H0.725286V2.1H9.58129C11.8133 2.1 13.5323 2.541 14.7383 3.423C15.9443 4.287 16.5473 5.484 16.5473 7.014C16.5473 7.95 16.3313 8.778 15.8993 9.498C15.4673 10.218 14.8733 10.776 14.1173 11.172ZM4.23529 4.854V10.065H9.20329C10.4273 10.065 11.3633 9.849 12.0113 9.417C12.6773 8.967 13.0103 8.319 13.0103 7.473C13.0103 6.609 12.6773 5.961 12.0113 5.529C11.3633 5.079 10.4273 4.854 9.20329 4.854H4.23529ZM9.90529 18.246C12.6233 18.246 13.9823 17.337 13.9823 15.519C13.9823 13.701 12.6233 12.792 9.90529 12.792H4.23529V18.246H9.90529ZM21.8863 6.582H25.2613V21H21.8863V6.582ZM23.5873 4.206C22.9753 4.206 22.4623 4.017 22.0483 3.639C21.6343 3.243 21.4273 2.757 21.4273 2.181C21.4273 1.605 21.6343 1.128 22.0483 0.749998C22.4623 0.353999 22.9753 0.156 23.5873 0.156C24.1993 0.156 24.7123 0.344999 25.1263 0.722999C25.5403 1.083 25.7473 1.542 25.7473 2.1C25.7473 2.694 25.5403 3.198 25.1263 3.612C24.7303 4.008 24.2173 4.206 23.5873 4.206ZM44.946 6.582V18.813C44.946 23.889 42.354 26.427 37.17 26.427C35.784 26.427 34.47 26.247 33.228 25.887C31.986 25.545 30.96 25.041 30.15 24.375L31.662 21.837C32.292 22.359 33.084 22.773 34.038 23.079C35.01 23.403 35.991 23.565 36.981 23.565C38.565 23.565 39.726 23.205 40.464 22.485C41.202 21.765 41.571 20.667 41.571 19.191V18.435C40.995 19.065 40.293 19.542 39.465 19.866C38.637 20.19 37.728 20.352 36.738 20.352C35.37 20.352 34.128 20.064 33.012 19.488C31.914 18.894 31.041 18.066 30.393 17.004C29.763 15.942 29.448 14.727 29.448 13.359C29.448 11.991 29.763 10.785 30.393 9.741C31.041 8.679 31.914 7.86 33.012 7.284C34.128 6.708 35.37 6.42 36.738 6.42C37.782 6.42 38.727 6.591 39.573 6.933C40.437 7.275 41.157 7.797 41.733 8.499V6.582H44.946ZM37.251 17.49C38.529 17.49 39.573 17.112 40.383 16.356C41.211 15.582 41.625 14.583 41.625 13.359C41.625 12.153 41.211 11.172 40.383 10.416C39.573 9.66 38.529 9.282 37.251 9.282C35.955 9.282 34.893 9.66 34.065 10.416C33.255 11.172 32.85 12.153 32.85 13.359C32.85 14.583 33.255 15.582 34.065 16.356C34.893 17.112 35.955 17.49 37.251 17.49ZM52.4822 5.07H46.2182V2.1H62.2562V5.07H55.9922V21H52.4822V5.07ZM68.3816 8.688C69.3536 7.176 71.0636 6.42 73.5116 6.42V9.633C73.2236 9.579 72.9626 9.552 72.7286 9.552C71.4146 9.552 70.3886 9.939 69.6506 10.713C68.9126 11.469 68.5436 12.567 68.5436 14.007V21H65.1686V6.582H68.3816V8.688ZM82.7485 6.42C84.8725 6.42 86.4925 6.933 87.6085 7.959C88.7425 8.967 89.3095 10.497 89.3095 12.549V21H86.1235V19.245C85.7095 19.875 85.1155 20.361 84.3415 20.703C83.5855 21.027 82.6675 21.189 81.5875 21.189C80.5075 21.189 79.5625 21.009 78.7525 20.649C77.9425 20.271 77.3125 19.758 76.8625 19.11C76.4305 18.444 76.2145 17.697 76.2145 16.869C76.2145 15.573 76.6915 14.538 77.6455 13.764C78.6175 12.972 80.1385 12.576 82.2085 12.576H85.9345V12.36C85.9345 11.352 85.6285 10.578 85.0165 10.038C84.4225 9.498 83.5315 9.228 82.3435 9.228C81.5335 9.228 80.7325 9.354 79.9405 9.606C79.1665 9.858 78.5095 10.209 77.9695 10.659L76.6465 8.202C77.4025 7.626 78.3115 7.185 79.3735 6.879C80.4355 6.573 81.5605 6.42 82.7485 6.42ZM82.2895 18.732C83.1355 18.732 83.8825 18.543 84.5305 18.165C85.1965 17.769 85.6645 17.211 85.9345 16.491V14.817H82.4515C80.5075 14.817 79.5355 15.456 79.5355 16.734C79.5355 17.346 79.7785 17.832 80.2645 18.192C80.7505 18.552 81.4255 18.732 82.2895 18.732ZM107.822 6.582L101.639 21H98.1563L91.9733 6.582H95.4833L99.9653 17.274L104.582 6.582H107.822ZM124.035 13.872C124.035 14.106 124.017 14.439 123.981 14.871H112.668C112.866 15.933 113.379 16.779 114.207 17.409C115.053 18.021 116.097 18.327 117.339 18.327C118.923 18.327 120.228 17.805 121.254 16.761L123.063 18.84C122.415 19.614 121.596 20.199 120.606 20.595C119.616 20.991 118.5 21.189 117.258 21.189C115.674 21.189 114.279 20.874 113.073 20.244C111.867 19.614 110.931 18.741 110.265 17.625C109.617 16.491 109.293 15.213 109.293 13.791C109.293 12.387 109.608 11.127 110.238 10.011C110.886 8.877 111.777 7.995 112.911 7.365C114.045 6.735 115.323 6.42 116.745 6.42C118.149 6.42 119.4 6.735 120.498 7.365C121.614 7.977 122.478 8.85 123.09 9.984C123.72 11.1 124.035 12.396 124.035 13.872ZM116.745 9.12C115.665 9.12 114.747 9.444 113.991 10.092C113.253 10.722 112.803 11.568 112.641 12.63H120.822C120.678 11.586 120.237 10.74 119.499 10.092C118.761 9.444 117.843 9.12 116.745 9.12ZM128.222 0.965999H131.597V21H128.222V0.965999Z"
                                          fill="#065988" />
                                </svg>
                            </a>
                        </div>
                        <div class="footer__description">
                            BigTravel-это туристическая компания нового поколения. <br> Мы используем все доступные сегодня технологии, чтобы сделать выбор, оплату и бронирование Вашего путешествия <br> максимально удобными и приятными.
                        </div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__title">Наши контакты</div>
                        <div class="footer__contacts">
                            <div class="footer__contacts_telephone">
                                <div class="telephone_icon">
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M5.96742 6.28985L1.58021 1.90038C2.14648 1.33411 2.71163 0.766711 3.27903 0.199311C3.54134 -0.0629981 3.96464 -0.0675013 4.22807 0.191431L7.64598 3.61271C7.90716 3.8739 7.90716 4.30395 7.6426 4.56739L6.89395 5.31491L6.19708 6.01178C6.11152 6.09846 6.03384 6.19078 5.96742 6.28985ZM9.57671 13.4398C8.85846 12.8217 8.16947 12.1654 7.50075 11.4978C6.83315 10.8257 6.17907 10.1389 5.55988 9.4173C5.05328 8.83189 4.95421 7.98417 5.21877 7.27041L0.715598 2.76612C-0.332515 3.8435 -0.198546 6.51501 0.949763 8.86228C1.44286 9.87775 2.08231 10.7941 2.74315 11.6655C3.40286 12.5301 4.12675 13.3474 4.88891 14.1152C5.65332 14.8819 6.46615 15.6092 7.33301 16.2689C8.20437 16.932 9.12302 17.5669 10.1317 18.0589C12.4824 19.2061 15.155 19.3322 16.2313 18.2829L11.727 13.7786C11.0132 14.0432 10.1644 13.9452 9.57671 13.4398ZM18.8026 14.7693L15.3847 11.3503C15.1224 11.0914 14.6923 11.0914 14.43 11.3537H14.4278L13.6768 12.1034L12.9845 12.7992C12.8989 12.8847 12.8055 12.9602 12.7064 13.03L17.0925 17.4183C17.6599 16.8498 18.2262 16.2846 18.7947 15.7184C19.0593 15.456 19.0649 15.0316 18.8026 14.7693Z"
                                                  fill="#1D3241" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="19" height="19" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                                <div class="telephone_num">
                                    +7(987)821-3212
                                </div>
                            </div>
                        </div>
                        <div class="footer__contacts">
                            <div class="footer__contacts_mes">
                                <div class="telephone_icon">
                                    <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M24.627 4.40833H2.37305C1.06455 4.40833 0 5.5123 0 6.86926V21.1308C0 22.4877 1.06455 23.5917 2.37305 23.5917H24.627C25.9355 23.5917 27 22.4877 27 21.1308V6.86926C27 5.5123 25.9355 4.40833 24.627 4.40833ZM24.3172 6.04895L24.0005 6.32244L14.4415 14.577C13.8959 15.0481 13.104 15.0481 12.5585 14.577L2.99948 6.32244L2.68276 6.04895H24.3172ZM1.58203 7.23337L9.37048 13.959L1.58203 19.3344V7.23337ZM24.627 21.9511H2.37305C1.99083 21.9511 1.67115 21.6685 1.5979 21.2942L10.6389 15.0543L11.5462 15.8378C12.1122 16.3266 12.8062 16.571 13.5001 16.571C14.1939 16.571 14.8878 16.3266 15.4539 15.8378L16.3612 15.0543L25.4021 21.2942C25.3288 21.6685 25.0092 21.9511 24.627 21.9511ZM25.418 19.3344L17.6295 13.9591L25.418 7.23337V19.3344Z"
                                              fill="#1D3241" />
                                    </svg>
                                </div>
                                <div class="mes_num">
                                    BigTravel@gmail.com
                                </div>
                            </div>
                        </div>
                        <div class="footer__contacts">
                            <div class="footer__icons">
                                <div class="inst">
                                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_d)">
                                            <path d="M18.5862 0H9.41381C6.42858 0 4 2.42858 4 5.41381V14.5863C4 17.5714 6.42858 20 9.41381 20H18.5863C21.5714 20 24 17.5714 24 14.5863V5.41381C24 2.42858 21.5714 0 18.5862 0V0ZM22.8275 14.5863C22.8275 16.9249 20.9249 18.8275 18.5862 18.8275H9.41381C7.0751 18.8275 5.17248 16.9249 5.17248 14.5863V5.41381C5.17248 3.0751 7.0751 1.17248 9.41381 1.17248H18.5863C20.9249 1.17248 22.8275 3.0751 22.8275 5.41381V14.5863Z"
                                                  fill="#1D3241" />
                                            <path d="M14 4.53137C10.9845 4.53137 8.53139 6.98452 8.53139 9.99996C8.53139 13.0154 10.9845 15.4685 14 15.4685C17.0154 15.4685 19.4686 13.0154 19.4686 9.99996C19.4686 6.98452 17.0154 4.53137 14 4.53137ZM14 14.2961C11.6312 14.2961 9.70388 12.3689 9.70388 9.99996C9.70388 7.63119 11.6312 5.70386 14 5.70386C16.3689 5.70386 18.2961 7.63119 18.2961 9.99996C18.2961 12.3689 16.3689 14.2961 14 14.2961Z"
                                                  fill="#1D3241" />
                                            <path d="M19.5993 2.58923C18.7082 2.58923 17.9834 3.31418 17.9834 4.20514C17.9834 5.09625 18.7082 5.82119 19.5993 5.82119C20.4904 5.82119 21.2154 5.09625 21.2154 4.20514C21.2154 3.31402 20.4904 2.58923 19.5993 2.58923ZM19.5993 4.64856C19.3549 4.64856 19.1559 4.44958 19.1559 4.20514C19.1559 3.96054 19.3549 3.76172 19.5993 3.76172C19.8439 3.76172 20.0429 3.96054 20.0429 4.20514C20.0429 4.44958 19.8439 4.64856 19.5993 4.64856Z"
                                                  fill="#1D3241" />
                                        </g>
                                        <defs>
                                            <filter id="filter0_d" x="0" y="0" width="28" height="28"
                                                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                                <feColorMatrix in="SourceAlpha" type="matrix"
                                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                                <feOffset dy="4" />
                                                <feGaussianBlur stdDeviation="2" />
                                                <feColorMatrix type="matrix"
                                                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                                <feBlend mode="normal" in2="BackgroundImageFix"
                                                         result="effect1_dropShadow" />
                                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow"
                                                         result="shape" />
                                            </filter>
                                        </defs>
                                    </svg>

                                </div>
                                <div class="vk">
                                    <img src="~/Content/image/icon/vk .png" width="22" alt="vk">
                                </div>
                                <div class="fb">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 0 10.5 0C4.70101 0 0 4.70101 0 10.5C0 16.299 4.70101 21 10.5 21ZM10.5 19.74C15.6031 19.74 19.74 15.6031 19.74 10.5C19.74 5.39689 15.6031 1.26 10.5 1.26C5.39689 1.26 1.26 5.39689 1.26 10.5C1.26 15.6031 5.39689 19.74 10.5 19.74ZM11.2621 15.12V10.4995H12.6289L12.81 8.9072H11.2621L11.2644 8.11025C11.2644 7.69496 11.3067 7.47244 11.9459 7.47244H12.8003V5.88H11.4334C9.79141 5.88 9.21348 6.65242 9.21348 7.95139V8.90738H8.19V10.4996H9.21348V15.12H11.2621Z"
                                              fill="#1D3241" />
                                    </svg>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__col">
                        <div class="footer__title">Информация</div>
                        <div class="footer__contacts">
                            <div class="navig">
                                <ul>
                                    <li>

                                        <div class="vector">
                                            <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L11 5.44444L1 9" stroke="#1D3241" />
                                            </svg>
                                        </div>
                                        <a href="#" class="navig__link">
                                            <div class="navig__name">
                                                Тур
                                            </div>
                                        </a>
                                    </li>
                                    <li>

                                        <div class="vector">
                                            <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L11 5.44444L1 9" stroke="#1D3241" />
                                            </svg>
                                        </div>
                                        <a href="#" class="navig__link">
                                            <div class="navig__name">
                                                Маршруты
                                            </div>
                                        </a>
                                    </li>
                                    <li>

                                        <div class="vector">
                                            <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L11 5.44444L1 9" stroke="#1D3241" />
                                            </svg>
                                        </div>
                                        <a href="#" class="navig__link">
                                            <div class="navig__name">
                                                Отели
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="copyright__text"> 2021 ©BigTravel.ru </div>
            </div>
        </div>

    </footer>


    @RenderSection("scripts", required: false)

</body>
</html>
